#root {
  width: 80%;
  margin: 50px auto 50px auto;
}

div#inventoryWrapper {
  height: 280px;
}

table#inventory {
  margin: 0;
  table-layout: fixed;
}

table#inventory a {
  display: block;
  width: 100%;
  color: inherit;
  height: 20px;
  overflow: hidden;
  outline: 0;
}

table#inventory a:hover, a:focus {
  text-decoration: none;
}

table#inventory th {
  text-align: center;
}

table#inventory tr td:first-child, td:nth-child(2), td:nth-child(3),
  td:nth-child(6) {
  text-align: center;
}

table#inventory th:first-child, th:nth-child(2), th:nth-child(3) {
  width: 5%;
}

table#inventory th:nth-child(4) {
  width: 25%;
}

table#inventory th:nth-child(6) {
  width: 7%;
}
